# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AIzaSyByah0-RpA4Oci5wcDvC5ta1kn9fmZmtYM"

# SUPABASE: Required for database and authentication
VITE_SUPABASE_URL="https://jmakyheypjnvsxmhzdxb.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_LWEkfMstfEiRP1BSluusKw_kamF68ei"
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"
